*{
    padding: 0;
    margin: 0;
}
body{
    margin-top: 0;
    background-color: whitesmoke;
}
p{
padding: 30px;
margin: 0 auto;
height: 800px ;
width: 800px ;
background-color: white;
box-shadow: 5px 5px 5px black;
text-align: justify;
}
nav{
    color: white;
    text-align: center;
    position: sticky;
    background-color:lavender;
    top: 0;
    font-size: 25px;
}
h1{
    text-align: center;
}