@import url('https://fonts.cdnfonts.com/css/lebagof');
                
*{
    padding: 0;
    margin: 0;
}
body{
    margin-top: 0;
    background-color: whitesmoke;
}
h2{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Lebagof', sans-serif;
    margin-top: 20px;  
    margin-bottom: 20px; 
}

div{
padding: 30px;
margin: 0 auto;
height: 205 ;
width: 800px ;
background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
border-radius: 25px;
}
p{
display: flex;
align-items: center;
text-align: justify;
}

nav{
    color: white;
    text-align: center;
    position: sticky;
    background-color:lavender;
    top: 0;
    font-size: 25px;
}
img{
    height: 205px;
    margin-right: 15px;
}
.topnav ul{
    list-style: none;
    background: #78539e;
    margin: 0;
    padding: 0;
    text-align: center;
  
  }
  
  .topnav li{
    display: inline-block;
  }
  .topnav a{
    text-decoration: none;
    color: #fff;
    width: 190px;
    display: block;
    padding: 15px 15px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .topnav a:hover{
    background-color: blueviolet;}