div {
    background-color: lightgray;
    text-align: center;
}

img {
    border: 1px solid black;
    height: 300px;
    border-radius: 15px;
}

.mov:hover {
    animation: aula 1s;
}

@keyframes aula {
    0% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(30px);
    }

    70% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}