.container {
  height: 700px;
  width: 700px;
  border: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}
.item {
  border: solid 1px;
}
.item1 {
  grid-column: 1/4;
  background-color: rgb(0, 22, 169);
}
.item2 {
  grid-column: 1/3;
  background-color: rgb(42, 166, 166);
}
.item3 {
  grid-column: 3/4;
  background-color: rgb(216, 244, 244);
}
.item4 {
  grid-column: 1/4;
  background-color: rgb(0, 187, 255);
}
