.container {
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item2 item3"
    "item4 item5 item5 item5"
    "item6 item6 item6 item6"
    ;
}

.item1 {
    grid-area: item1;
    background-color: pink;
}

.item2 {
    grid-area: item2;
    background-color: rgb(217, 182, 250);
}

.item3 {
    grid-area: item3;
    background-color: rgb(217, 250, 166);
}

.item4 {
    grid-area: item4;
    background-color: rgb(164, 164, 250);
}
.item5 {
    grid-area: item5;
    background-color: rgb(192, 213, 251);
}
.item6 {
    grid-area: item6;
    background-color: rgb(164, 250, 237);
}