@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 100px;
  z-index: 99;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffff;
  border-radius: 20px;
}

header ul li a:hover,
.active {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 999999;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}
section img#moon {
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1em;
  color: #fff;
  text-align: justify;
  text-indent: 3em;
}

.color {
  background-color: #2b1055;
}



.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #2b1055;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
 margin-left: 400px;
}

.container .left_side {
  position: relative;
  background: #003147;
  padding: 40px;
}


.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgbx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText H2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.sub{
  color: #848c99;
  font-size: 15px;
}
.contactInfo {
  padding-top: 40px;
}
.icon a{
  list-style: none;
  text-decoration: none;}

a { color: inherit; } 


.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.text ul{
  list-style: none;
  text-align: justify;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #fff;
}

.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}

.container .right_Side {
  position: relative;
  background: #fff;
  padding: 40px;

}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 H3 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.skill .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skill .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skill .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}
.skill .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
  display: block;
}
footer .icon{
  margin: 15px;
}
footer p{
  color: white;
  text-decoration: none;
}
footer a{
 text-decoration: none;}